body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header, footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 26px;
}

footer {
    padding-bottom: 40px; /* Added padding to the bottom of the footer */
}

header h1 {
    margin: 0;
    font-size: 36px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

form {
    max-width: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: rgba(51, 51, 51, 1);
}

.contact-image {
    display: block;
    margin: 0 auto;
    width: 200px;
    border-radius: 50%;
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    text-decoration: none;
}


.back-button:hover {
    background-color: rgba(51, 51, 51, 1);
}